<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                    <div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
                        <strong>
                        	<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;">
                                    Supported :
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Hide Menu, Submenu, Report, and Fields for any User, Group Odoo App</b>
			</h2>
			<h3 class="oe_slogan bi_title" style="color: ##201111;">
				<b>Odoo All in one Hide - Hide Anything on Odoo</b>
			</h3>
			<h3 class="oe_slogan bi_title" style="color: ##201111;">
				<b>Easy to Hide menu, Hide Report, Hide Field, Hide Submenu in Odoo</b>
			</h3>
			<p class="oe_slogan">
				Hide All in one odoo app helps users to hide any menu, submenu and report from any user from both user configurations and group configurations. User also can change fields attributes like make fields invisible or readonly.
			</p>
		</div>
	</div>
</section>


<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/hide_menu.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Hide any Menu from User or Group Configuration</b></h4>
					  <span class="oe_slogan">Feature1</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/Hide_nvisible.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Hide any Submenu from User or Group Configuration</b></h4>
						<span class="oe_slogan">Feature2</span>
					</div>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/hide_report.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Hide any Report from User or Group Configuration</b></h4>
					  <span class="oe_slogan">Feature1</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/hid_fields.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Make Invisible or Set Readonly any fields. </b></h4>
						<span class="oe_slogan">Feature2</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Hide Menu, Submenu, Report, and Fields for any User, Group and Group Users Odoo App" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/tQkfGvcpXpQ" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"> <b>Hide/Invisible Menu</b> </p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Hide Menu from User Configuration</p>
			<p class="oe_slogan">User can see visible menus.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">Under Settings > User & Companies > Users menu user can "Hide Menu" tab, User have to add menu that he/she wants to hide for particular user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_hide_menu.png">
			<p class="oe_slogan">User can see here selected menus are hidden/invisible for user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_hidden_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Hide Menu from Group Configuration</p>
			<p class="oe_slogan">User have option to hide menu also from Settings > User & Companies > Groups menu.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_visible_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">On Groups form view user can see "Hide Menu" tab, here user have to select menu items that he/she wants to hide from specific groups, users belongs to this groups also can not see selected menus.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_hide_menu_group.png">
			<p class="oe_slogan">User can see selected menu on groups are hidden/invisible.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_hidden_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"> <b>Hide/Invisible Submenu</b> </p>
			<p class="oe_slogan">User can hide submenu from both user or groups configuration.</p>
			<p class="oe_slogan">User can see visible submenu for user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_submenu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User heve to add submenu that he/she wants to hide by adding "Hide Menu' tab.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_hide_submenu.png">
			<p class="oe_slogan">User can see selected submenus are hidden/invisible.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_hidden_submenu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"> <b>Hide/Invisible Report</b> </p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Hide Report from User Configuration</p>
			<p class="oe_slogan">User can visible report menu for user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_visible_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can hide report menu from group configuration by adding to "Hide Report" tab.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_hide_report.png">
			<p class="oe_slogan">User can see selected menu is hidden</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_hidden_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Hide Report from Group Configuration</p>
			<p class="oe_slogan">User can visible report menu for user.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_visible report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">Settings > User & Companies > Groups menu user have to add repoer menu on "Hide Report" menu.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_hide_report.png">
			<p class="oe_slogan">User can see selected report menu invisible/ hidden for group and group users.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_hidden_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"> <b>Set Readonly OR Invisible any Fields</b> </p>
			<p class="oe_slogan">User can hide or make readonly number of fields, Here user can see marked "GSTIN" is visible fields and "Email" is editable field.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_fields.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">Under models form view user can see "Field Configuration" tab, here user have to add fields and enable "Readonly" and "Invisible" attribute, user also can select groups and this only applies to selected group and groups users.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_hide_readonly_fields.png">
			<p class="oe_slogan">User can see "GSTIN" field is invisible and "Email" field is readonly.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_hidden_fields.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_dynamic_tree_view/">
					<img class="img img-responsive" src="related/bi_dynamic_tree_view.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_mass_mail/">
					<img class="img img-responsive" src="related/bi_mass_mail.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_mass_duplicate/">
					<img class="img img-responsive" src="related/bi_mass_duplicate.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_hide_product_vendor/">
					<img class="img img-responsive" src="related/bi_hide_product_vendor.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_crm_auto_reply/">
					<img class="img img-responsive" src="related/bi_crm_auto_reply.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/customer_mail_history/">
					<img class="img img-responsive" src="related/customer_mail_history.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/11.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>